<h1>Edit <%= @store.store_name%></h1>
<p>Find me in app/views/stores/edit.html.erb</p>

<div class='ui form'>
<%= form_for @store do |f| %>

  <%= f.label :store_name %>
  <%= f.text_field :store_name, required: true, autofocus: true %>
  <%= f.submit %>
<% end %>
</div>