<h1 class='ui header'>Products For <%=  @store.store_name %></h1>

<table class = 'ui table'>
<thead>
<tr>
  <th>Product Name</th>
  <th>Product Price<th>
  <th>Product page<th>
  <th>Edit<th>
  <th>Destroy<th>
  </tr>
</thead>
<tbody>
<% @store.products.each do |product|%>
<tr>
  <td><%= product.product_name%></td>
  <td><div class="ui tag labels">
            <a class="ui label">
              $<%=product.product_price %>
            </a></td>
  <td><%= link_to "See Reviews", product_reviews_path(product.id)%></td>
  <td><%= link_to "Edit Product", edit_store_product_path(@store, product.id)%></td>
  <td><%= link_to "Product Info", store_product_path(@store, product) %></td>
</tr>
<% end %>
</tbody>
</table>

<%= link_to "Add a Product", new_store_product_path(@store)%>
