<h1>Products#new</h1>
<h1>Add a Product</h1>

<div class = 'ui form'>
  <%= form_for [@store, @product] do |f|%>
    <div class='field'>
      <%= f.label :product_name%>
      <%= f.text_field :product_name%>
    </div>  
    <div class='field'>
      <%= f.label :product_price%>
      <%= f.number_field :product_price%>
    </div>  
  
     <%= f.submit %>
  <% end%>
<div>
